body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0c245;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}

nav ul {
    list-style: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    left: 0;
}

nav a:hover::after {
    width: 100%;
}

.imagemHome {
    text-align: center;
    margin: 20px;
}

.imgHeader {
    max-width: 100%;
    height: auto;
    animation: slideIn 2s ease-in-out;
}

.product-section {
    margin: 20px;
    padding: 20px;
    /*background-color: wheat;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-section h2 {
    text-align: center;
    margin: 20px;
    animation: fadeIn 1s ease-in-out;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-item-calcas {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInUp 1s ease-in-out;
}

.product-item-calcas:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-item-calcas img {
    max-width: 100%;
    background-color: rgb(214, 197, 164);
    border-radius: 8px;
    transition: transform 0.3s;
}

.product-item-calcas img:hover {
    transform: scale(1.05);
}

.product-item-calcas h1,.product-item-calcas h2 {
    margin: 10px;
    font-size: 1em;
    color: #747373;
}

.product-item-calcas span {
    display: grid;
    margin: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.product-item-calcas button {
    padding: 10px 25px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
}
.product-item-calcas button:hover {
    background-color: #555;
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
